.micro_space{
    background-color: #b1cafa;
    height:260px;
}
.microText{
    width: 100%;
    padding: 20px 18px;
    margin: 0 auto;
    background-color: #f9f5f5;
}
.microContainer{
    width: 100%;
    margin: 20px auto;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    box-shadow: 3px 3px 15px 1px #e6e6e6;
}
.micro_head{
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
    height:50px;
    line-height: 33px;
    text-align: center;
}
.collapse_micro_a{
    color:#333;
    font-size: 16px;
    font-weight: bold;
}
.micro_acc_inner{
    padding: 20px;
    margin:0 10px;
    border-bottom: 1px dotted #bbb;
    text-align: justify;
}
.micro_word{
    margin-top:10px;
}
.microHideContent{
    display: inline-block;
    width: 100%;
    color: rgba(7,17,27,0.2);
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.micro_hide{
    display: none;
}
#collapse4 .micro_acc_inner{
    display:flex;
    padding: 20px 0;
}
#collapse4 .micro_acc_inner .pics{
    flex:0 0 100px ;
    width: 100px;
    height:100px;
    border-radius: 5px;
    background-color: #f8b62c;
}
#collapse4 .micro_acc_inner .pics img{
    width: 100%;
    height: 100%;
}
#collapse4 .micro_acc_inner .micro_word{
    flex:1;
    margin-left:20px
}
#collapse4 .micro_acc_inner .micro_word .word{
    color:#333;
    font-size: 12px;
    margin-top: 10px;
}